{% extends "base2.html" %}
{% load i18n %}


{% block title %}
	live
{% endblock %}

{% block titlecontent %}

projects

{% endblock %}

{% block bodycontent %}

	<div id="projects_wrapper" class="big_image">
		<h1>PROJECTS:</h1>
		{% for project in projects %}
			<div id="project"  >
					<a href="{% url project_detail_page project.slugname %}"><h1>{{ project.name }}</h1></a>
					<p>{{ project.shortdesc }}</p>
					<p><img  src="{{ project.url_screenshot }}"></p>
					<p><a href="{{ project.homepage }}">homepage</a></p>
					<p><a href="{{ project.downloadpage }}">downloadpage</a></p>
					<p>languages:</p>
					<ul>
						{% for language in project.languages %}
							<li>{{ language }}</li>
						{% endfor%}
					</ul> 
			</div>		
		
		{% endfor %}	
	</div>			
{% endblock %}