{% extends "base.html" %}
{% load i18n %}


{% block title %}
	live
{% endblock %}

{% block titlecontent %}

projects

{% endblock %}

{% block bodycontent %}

	<div id="projects_wrapper">
		<h1>PROJECT:</h1>
		{% for name, slugname, shortname, shortdesc, description, homepage, downloadpage, languages, url_screenshot in project %}
			<div id="project">
					<h1>{{ name }}</h1>
					<p>{{ shortdesc }}</p>
					<p><img src="{{ url_screenshot }}"></p>
					<p><a href="{{ homepage }}">homepage</a></p>
					<p><a href="{{ downloadpage }}">downloadpage</a></p>
					<p>languages:</p>
					<ul>
						{% for language in languages %}
							<li>{{ language }}</li>
						{% endfor%}
					</ul> 
			</div>		
		
		{% endfor %}	
	</div>			
{% endblock %}