/* BASE */


body{ 
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
	text-align: center; 
	background-color: #ebebeb; 
} 

#wrapper{
	border-style:solid;
	border-width:1px;
	border-color:#999;

	text-align: left; 
	width: 770px; 
	margin: auto; 


}

#header {
	font-size:20px;
	font-style:blod;
	background-color: #d0d0ff; 
	color: #333300; 
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;

}

#header li {
	padding:10px;

}


#content_title {
	font-size:15px;
	background-color:#ebebeb; 
	color: #333300; 
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;

}
 
#content{ 

	background-color: #ffffff; 
	padding:15px;


}

/* END BASE*/


/* HOME */

#news_wrapper{
	border-style:solid;
	border-width:1px;
	border-color:#999;
	background-color:#ebebeb; 
}
#news_wrapper h1 {
	padding-left:20px;
}

#news_element{
	border-style:solid;
	border-width:1px;
	border-color:#999;


	background-color:#fff; 
	padding:20px;
	margin:20px;
}






#home_projects_wrapper{
	border-style:solid;
	border-width:1px;
	border-color:#999;
	background-color:#ebebeb; 
}
#home_projects_wrapper h1 {
	padding-left:20px;
}

#home_project{
	border-style:solid;
	border-width:1px;
	border-color:#999;


	background-color:#fff; 
	padding:20px;
	margin:20px;
}








/* END HOME */


/* LIVE */


#posts_wrapper{
	border-style:solid;
	border-width:1px;
	border-color:#999;
	background-color:#ebebeb; 
}
#posts_wrapper h1 {
	padding-left:20px;
}

#post{
	border-style:solid;
	border-width:1px;
	border-color:#999;


	background-color:#fff; 
	padding:20px;
	margin:20px;
}

/* END LIVE */



/* PROJECTS */

#projects_wrapper{
	border-style:solid;
	border-width:1px;
	border-color:#999;
	background-color:#ebebeb; 
}
#projects_wrapper h1 {
	padding-left:20px;
}

#project{
	border-style:solid;
	border-width:1px;
	border-color:#999;


	background-color:#fff; 
	padding:20px;
	margin:20px;
}


/* END PROJECTS */
