{% extends "base.html" %}
{% load i18n %}

{% block extrahead%}


{% endblock %}






{% block title %}
	live
{% endblock %}

{% block titlecontent %}

live

{% endblock %}

{% block bodycontent %}


<div id=posts_wrapper class="big_image">
	<h1>POSTS:</h1>
	{% for post in posts %}
		<div id="post">
				<h1>{{ post.title }}</h1>
				<a href="{{ post.link }}">link</a>
				<p>{{ post.date }}</p>
				{{ post.content|safe }}
		</div>
	{% endfor %}	
</div>


<div id=twitter_wrapper class="small_image">
	<h1>TWEETS:</h1>
	{% for tweet in tweets %}
		<div id="tweet">
				<p><a href="{{ tweet.profile_url}}"><img src="{{ tweet.user_avatar_url }}" /></a>{{ tweet.html_text|safe }}</p>
				<p>date: {{tweet.date}}   <a href="http://twitter.com/intent/retweet?tweet_id={{ tweet.id }}">retweet</a>
		</div>
	{% endfor %}	
</div>		
		
{% endblock %}