{% extends "1rows.html" %}
{% load i18n %}

{% block extrahead %}
{% endblock %}

{% block lemaLogo%}contact{% endblock %}

{% block bottomHead%}
     <h2 id="claim">GET IN TOUCH WITH US</h2>
     
{% endblock %}

{% block mainContent %}
        <div id="mainContent" class="grid16 f-l">
                <h2 class="pageTitle"><a href="{% url "projects_page" %}">CONTACT</a></h2>
                <article class="grid16">
                        <div class="project_info">
				<div class="contact_map">
            <iframe width="710" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Calle+de+Julian+Camarillo,+47,+Madrid&amp;aq=0&amp;oq=juli%C3%A1n+camarillo+47,+ma&amp;sll=40.436462,-3.622803&amp;sspn=0.006819,0.013937&amp;gl=es&amp;ie=UTF8&amp;hq=&amp;hnear=Calle+de+Julian+Camarillo,+47,+28037+Madrid&amp;ll=40.436463,-3.622806&amp;spn=0.006819,0.013937&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small>Ver <a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Calle+de+Julian+Camarillo,+47,+Madrid&amp;aq=0&amp;oq=juli%C3%A1n+camarillo+47,+ma&amp;sll=40.436462,-3.622803&amp;sspn=0.006819,0.013937&amp;gl=es&amp;ie=UTF8&amp;hq=&amp;hnear=Calle+de+Julian+Camarillo,+47,+28037+Madrid&amp;ll=40.436463,-3.622806&amp;spn=0.006819,0.013937&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">OpenShine SL</a> en un mapa más grande</small>
				</div>
                                <div class="contact_details">
					<h4>Address:</h4>
                    <p>C/ Juli&aacute;n Camarillo 47</p>
                    <p>Bloque A, Oficina 006</p>
					<p>28037 Madrid (Spain)</p>
					<h4>Email:</h4>
					<p><a href="mailto:info@openshine.com">info@openshine.com</a></p>
					<h4>Linkedin:</h4>
					<p><a href="http://www.linkedin.com/company/openshine-sl">OpenShine SL</a></p>
					<h4>Twitter:</h4>
					<p><a href="http://twitter.com/openshine">OpenShine</a></p>
                                </div>
                        </div>
                </article>
        </div>
{% endblock %}
