<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>OpenShine</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
<link rel="shortcut icon" href="{{ STATIC_URL }}images/html/favicon.ico" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie_style.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie8_style.css" /><![endif]-->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/general.js"></script>
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Lato:light' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:bold' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:light' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:regular' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:light' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css' />
<!--[if IE 6]>
	<script type="text/javascript" src="{{ STATIC_URL }}js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript">DD_belatedPNG.fix('header#head h1 a, #socialIcons li a, header#head nav ul, header#head .backTo a span, footer .socialLinks a, article footer .backTo a span, footer .socialLinks a, #comments header .publish span, footer#foot .localization li span, .pseudOl li span, #tabla_mes .paginacion a');</script>
<![endif]-->
<script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-23147108-1']);
   _gaq.push(['_setDomainName', '.openshine.com']);
   _gaq.push(['_setAllowHash', false]);
   _gaq.push(['_trackPageview']);
   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
</script>
{% block extrahead %}{% endblock %}
</head>
<body>
<div id="wrapper">
	<header id="head">
		<div class="topHead">
			<h1><a href="{% url "home_page" %}" title="Back to Home">Open Shine</a></h1>
			<p id="lemaLogo">{% block lemaLogo%}{% endblock %}</p>
			<div id="socialIcons">
				<ul class="clearfix d-b">
					<li><a href="mailto:info@openshine.com" title="Contact us" class="contact">Contact us</a></li>
					<li><a href="http://twitter.com/openshine" title="Join our Twitter" class="twitter">Twitter</a></li>
					<li><a href="http://identi.ca/openshine" title="Join our Identica" class="identica">Identica</a></li>
					<li><a href="http://www.linkedin.com/company/openshine-sl" title="Join our Linkedin" class="linkedin">Linkedin</a></li>
					<li><a href="http://www.github.com/openshine" title="Join our github" class="github">GitHub</a></li>
					{% block social_icons_header %}{% endblock %}
				</ul>
			</div>
		</div><!--topHead-->
		<div class="bottomHead">
			<nav>
				<ul>	
					<li {% if tab_home %}class="active"{% endif %}><a href="{% url "home_page" %}" title="">Home</a></li>
					<li {% if tab_company %}class="active"{% endif %}><a href="{% url "company_page" %}" title="">Company</a></li>
					<li {% if tab_projects %}class="active"{% endif %}><a href="{% url "projects_page" %}" title="">Projects</a></li>
					<li {% if tab_live %}class="active"{% endif %}><a href="{% url "live_page" %}" title="">live!</a></li>
					<li {% if tab_contact %}class="active"{% endif %}><a href="{% url "contact_page" %}" title="">Contact</a></li>
				</ul>
			</nav>
			<!--  <p class="backTo"><a href="#" title="Back to Home"><span></span>Back to news</a></p> -->
			{% block bottomHead%}{% endblock %}
		</div><!--bottomHead-->
		
	</header>
	
	{% block content%}{% endblock %}
	
	
	<footer id="foot">
		<div class="f-l">
			<ul class="localization">
				<!--<li class="phone"><span></span> 912 345 345  -  934 765 654</li>-->
                <li class="address"><span></span>C/ Julián Camarillo, 47. Bloque A, Oficina 006. 28037 Madrid (Spain)</li>
				<li class="mail"><span></span> info@openshine.com</li>
			</ul>
		</div>
		<div class="f-r">
			<nav>
				<ul>
					<li {% if tab_home %}class="active"{% endif %}><a href="{% url "home_page" %}" title="">Home</a></li>
					<li {% if tab_company %}class="active"{% endif %}><a href="{% url "company_page" %}" title="">Company</a></li>
					<li {% if tab_projects %}class="active"{% endif %}><a href="{% url "projects_page" %}" title="">Projects</a></li>
					<li {% if tab_live %}class="active"{% endif %}><a href="{% url "live_page" %}" title="">live!</a></li>
					<li {% if tab_contact %}class="active"{% endif %}><a href="{% url "contact_page" %}" title="">Contact</a></li>
				</ul>
			</nav>
		</div>
		<p class="copyright">Openshine SL © 2011. All rights reserved. Terms and conditions</p>
	</footer>
</div><!--wrapper-->
</body>
</html>
