<div id="comments">
				<header>
					<h3>2 COMENTARIOS</h3>
					<p class="publish"><a href="#"><span></span> Publicar mi comentario</a></p>
				</header>
				<div class="comment clearfix">
					<div class="grid3 f-l">
						<img src="{{ STATIC_URL }}images/html/avatar_1.gif" alt="Avatar de Roberto majadas" class="avatar" />
						<ul>
							<li><a href="#">Roberto Majadas</a></li>
							<li>11/04/2011</li>
						</ul>
					</div>
					<div class="grid5 f-r">
						<p>Tampoco me gusta tener 1.000 aplicaciones en el dock. Realmente lo tengo vacío así, de un vistazo, puedo saber las aplicaciones que están corriendo, además de que muchas nos dan información adicional (como el porcentaje de descarga en Chrome o el número de tweets en echofon).</p>
						<p>Y por añadir algo más, también tengo asignadas algunas teclas como F11 o F12 a algunas aplicaciones que suelo consultar mucho (como los clientes de twitter o de mail).</p>
						<p><a href="#">Responder</a></p>
					</div>
				</div>
				<div class="comment clearfix">
					<div class="grid3 f-l">
						<img src="{{ STATIC_URL }}images/html/avatar.gif" alt="Avatar por defecto" class="avatar" />
						<ul>
							<li><a href="#">César García</a></li>
							<li>11/04/2011</li>
						</ul>
					</div>
					<div class="grid5 f-r">
						<p>Y por añadir algo más, también tengo asignadas algunas teclas como F11 o F12 a algunas aplicaciones que suelo consultar mucho (como los clientes de twitter o de mail).</p>
						<p><a href="#">Responder</a></p>
					</div>
				</div>
			</div><!--comments-->
			<div id="commentForm">
				<header>
					<h3>PUBLICAR MI COMENTARIO</h3>
				</header>
				<form action="" method="post">
					<div class="grid3 f-l">
						<p><input type="text" class="texto" value="Tu nombre" /></p>
						<p><input type="text" class="texto" value="Tu email" /></p>
						<p><input type="text" class="texto" value="Tu website" /></p>
					</div>
					<div class="grid5 f-r">
						<p><textarea class="texto" cols="" rows="">Tu comentario</textarea></p>
						<p><input type="checkbox" /> Notificarme cuando se publiquen nuevos comentarios</p>
						<p class="formAction"><input type="submit" class="bt" value="Publicar comentario" /></p>
					</div>
				</form>
			</div><!--commentForm-->