Source: osweb
Section: web
Priority: extra
Maintainer: Jenkins Builder <jenkins@openshine.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~), python-support (>= 0.90)
Standards-Version: 3.9.1
Homepage: http://www.openshine.com

Package: osweb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-django(>=1.2.3), python-support (>= 0.90)
Description: OpenShine webpage package
 Here is the OpenSine main web
