{% extends "1rows.html" %}
{% load i18n %}



{% block lemaLogo%}company{% endblock %}

{% block bottomHead%}
     <h2 id="claim">ANOTHER WAY OF THINKING</h2>
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid16 f-l">
			<h2 class="pageTitle">COMPANY</h2>
			
			<article class="company float">
				<header>
					<a id="experience" name="experience" ></a>
					<h3>Years of experience in open source.</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/experience.jpg" alt="" class="f-l" />
				<div class="float_right">
				<h4>Smart business, Expert knowledge, Open minded, Innovative and Creative.</h4>
				<p>Openshine utiliza su creatividad y conocimientos en beneficio de sus clientes, para ofrecerle soluciones inteligentes y basadas en la experiencia. Somos un equipo joven y altamente cualificado, especialistas, tanto por conocimiento como por experiencia, en el sector del Software Libre, estándares abiertos e integración en la comunidad FLOSS.</p>
				</p>Nuestro objetivo es colaborar con las empresas para su completa integración en la Sociedad de la Información a través del Software Libre, mejorando la calidad de las herramientas y facilitando la comunicación entre las empresas y sus clientes.</p>
				</p>Por nuestro conocimiento, tanto de las tecnologías como del mercado actuales, somos el partner apropiado para ofrecer soluciones basadas en Software Libre.</p>
				</div>
			</article>
			
			<article class="company float"> 
				<header>
					<a id="sharing" name="sharing" ></a>
					<h3>Sharing pragmatic solutions and knowledge..</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/sharing.jpg" alt="" class="f-l" />
				<div class="float_right">
				<h4>We offer to our customers: Trust, empathy, collaboration and world of open source solutions. Experience and leadership.</h4>
				<p>El grado de compromiso al que llega OpenShine con sus clientes es importante, por empatía y conocimiento y porque conoce las soluciones apropiadas para sus necesidades. OpenShine se implica en las necesidades de sus clientes y les ofrece las mejores soluciones y prácticas, generando valor para ellos a través del uso de herramientas y conocimientos adaptados a cada circunstancia.</p>
				<p>La experiencia y personalidad del capital humano de OpenShine le permite el liderazgo de proyectos en organismos públicos y en empresas de cualquier sector y tamaño.</p>
				<p>El  compartir conocimientos y soluciones nos permite ayudar a crecer a nuestros clientes.</p>
				</div>
			</article>
			
			
			<article class="company float">
				<a id="floss" name="floss" ></a>
				<header>
					<h3>In the edge of the FLOSS technology.</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/edge.jpg" alt="" class="f-l" />
				<div class="float_right">
				<h4>GNU/Linux, Gtk+, Python, Django...</h4>
				<p>El Software Libre presenta soluciones maduras y de fiabilidad contrastada para el desarrollo de aplicaciones. Parte del potencial de OpenShine es el cuidadoso análisis de las tecnologías a la hora de afrontar un nuevo proyecto, para asegurar que sea la elección correcta.</p>
				<p>Además de seleccionar las herramientas más adecuadas para cada proyecto, dedicamos especial atención al diseño e implementación de nuestros trabajos, buscando la más alta calidad en los resultados.</p>
				<p>OpenShine es experta en el uso de las tecnologías y herramientas más actuales, que incluyen, entre otras, las siguientes:</p>
				<ul>
					<li>GNU/Linux, como sistema operativo potente, estable y versátil.</li>
					<li>Como parte de una visión más amplia de la tecnología, también tenemos en cuenta sistemas como Microsoft Windows o Mac OS X adaptando nuestros programas para un uso multiplataforma.</li>
					<li>Lenguajes de desarrollo basados en estándares abiertos y escalabilidad ampliamente demostrada: Python, C, C#, Javascript, Erlang...</li>
					<li>Frameworks de escritorio para creación de aplicaciones nativas : Gnome/Gtk+</li>
					<li>Frameworks para aplicaciones web : Django, Drupal, Twisted...</li>
				</ul>
				</div>
			</article>
			
			
			
			<article class="company float" >
				<a id="community" name="community" ></a>
				<header>
					<h3>We live in community</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/community.jpg" alt="" class="f-l" />
				<div class="float_right">
				<h4>Another way of thinking the business world. Social resposibility, collaboration ... Genuine! :)</h4>
				<p>Entendemos FLOSS no sólo como una forma de desarrollar software, sino como una gran experiencia a la hora de generar y compartir conocimiento, y de ofrecer al cliente nuevos caminos hacia la innovación.</p>
				<p>Como integrantes de la comunidad FLOSS desde hace muchos años, nuestro modelo de desarrollo es completamente abierto. Desde el uso de herramientas sociales para la gestión del código, hasta nuestra participación y patrocinio de eventos de gran calado en la Comunidad. La transparencia y la colaboración son valores fundamentales de OpenShine.</p>
				<p>OpenShine tiene el ineludible compromiso de compartir tanto sus conocimientos como sus experiencias en beneficio de la comunidad FLOSS.</p>
				</div>
			</article>
	</div><!--grid8-->		
{% endblock %}
			
			
			
