{% extends "1rows.html" %}
{% load i18n %}



{% block lemaLogo%}company{% endblock %}

{% block bottomHead%}
     <h2 id="claim">COMPANY</h2>
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid16 f-l">
			<!-- <h2 class="pageTitle">COMPANY</h2>-->
			
			
			<article class="company float">
				<header>
					<a id="experience" name="experience" ></a>
					<h3>Years of experience in open source.</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/raton_apple.jpg" alt="foto ratón de Apple" class="f-l" />
				<p>Smart business, Expert knowledge, Open minded, Innovative and Creative.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<!--  <footer>
					<p class="backTo f-l"><a href="#" title="Volver a noticias"><span></span> Volver a noticias</a></p>
					<p class="socialLinks f-r">
						<a href="#" class="twitter">Twitter</a>
						<a href="#" class="linkedin">Linkedin</a>
						<a href="#" class="identica">Identica</a>					
					</p>
				</footer>-->
			</article>
			
			<article class="company float"> 
				<header>
					<a id="sharing" name="sharing" ></a>
					<h3>Sharing pragmatic solutions and knowledge..</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/raton_apple.jpg" alt="foto ratón de Apple" class="f-l" />
				<p>We offer to our customers: Trust, empathy, collaboration and world of open source solutions. Experience and leadership.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<!--  <footer>
					<p class="backTo f-l"><a href="#" title="Volver a noticias"><span></span> Volver a noticias</a></p>
					<p class="socialLinks f-r">
						<a href="#" class="twitter">Twitter</a>
						<a href="#" class="linkedin">Linkedin</a>
						<a href="#" class="identica">Identica</a>					
					</p>
				</footer>-->
			</article>
			
			
			<article class="company float">
				<a id="floss" name="floss" ></a>
				<header>
					<h3>In the edge of the FLOSS technology.</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/raton_apple.jpg" alt="foto ratón de Apple" class="f-l" />
				<p>GNU/Linux, Gtk+, Python, Django...</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<!--  <footer>
					<p class="backTo f-l"><a href="#" title="Volver a noticias"><span></span> Volver a noticias</a></p>
					<p class="socialLinks f-r">
						<a href="#" class="twitter">Twitter</a>
						<a href="#" class="linkedin">Linkedin</a>
						<a href="#" class="identica">Identica</a>					
					</p>
				</footer>-->
			</article>
			
			
			
			<article class="company float" >
				<a id="community" name="community" ></a>
				<header>
					<h3>We live in community</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/raton_apple.jpg" alt="foto ratón de Apple" class="f-l" />
				<p>Another way of thinking the business world. Social resposibility, collaboration ... Genuine! :)</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				
				
			</article>
	</div><!--grid8-->		
{% endblock %}
			
			
			
