{% extends "1rows.html" %}
{% load i18n %}



{% block lemaLogo%}company{% endblock %}

{% block bottomHead%}
     <h2 id="claim">ANOTHER WAY OF THINKING</h2>
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid16 f-l">
			<h2 class="pageTitle">COMPANY</h2>
			
			<article class="company float">
				<header>
					<a id="experience" name="experience" ></a>
					<h3>Years of experience in open source.</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/experience.jpg" alt="" class="f-l" />
				<div class="float_right">
				
				<h4>Smart business, Expertize, Open Mindedness, Innovation and Creativity.</h4></br>
				<p>Openshine uses its creativity and knowledge in its client´s benefit, to offer wise  and based on experience solutions. We are a young and high qualified team, specialist, as by our knowledge as by experience, on the Free Software sector, open standards and integration in the FLOSS community.</p>
				<p>Our main aim is colaborating with companies for its complete integration in the Information Society through Free Software, making better tools quality and  an easier comunication between companies and its clients.</p>
				<p>Because of our knowledge, as technologies as state of art market knowledge, we are the perfect partner to offer solutions based in Free Software.</p>
				</div>
			</article>
			
			<article class="company float"> 
				<header>
					<a id="sharing" name="sharing" ></a>
					<h3>Sharing pragmatic solutions and knowledge.</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/sharing.jpg" alt="" class="f-l" />
				<div class="float_right">
				<h4>We offer to our customers: Trust, empathy, collaboration and a world of open source solutions. Experience and leadership.</h4></br>
				<p>The Openshine will of commitment  with its clients is important because of empathy and knowledge, and because we know appropiate solutions for your requirements. Openshine gets involved in its clients requirements and offers the best solutions and practics, generating value for them through the use of tools and knowledge adapted to each circumstance.</p>
				<p>The experience and personality of the Openshine human capital let us the project leadership in public agencies and in companies of any sector and size.</p>
				<p>Sharing knowledge and solutions let us help our clients grow.</p>
				</div>
			</article>
			
			
			<article class="company float">
				<a id="floss" name="floss" ></a>
				<header>
					<h3>In the edge of FLOSS technology.</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/edge.jpg" alt="" class="f-l" />
				<div class="float_right">
				<h4>GNU/Linux, Gtk+, Python, Django...</h4></br>
				<p>Free Software offers mature solutions and contrasted reliability for application development. Part of the Openshine potential is the careful analysis of technologies at the moment of facing a new project, to make sure it is the right option.</p>
				<p>Besides choosing the more appropiate tools for each project, we dedicate special attention to our projects design and implementation , looking for the higher quality in our results.</p>
				<p>Openshine is expert on the use of state of the art technologies and tools, including, among them,the following ones:</p>
				<ul>
					<li>GNU/Linux, as a powerful, stable and versatile operating system.</li>
					<li>As part of a broader scope in technology, we also consider systems such as Microsoft Windows or Mac OS X adapting our applications to be used as multiplatform.</li>
					<li>Programming languages based in open standards and at lenght proved scalability: Python, C, C#, Javascript, Erlang...</li>
					<li>Desktop framework to develop native applications : Gnome/Gtk+</li>
					<li>Frameworks for web applications: Django, Drupal, Twisted...</li>
				</ul>
				</div>
			</article>
			
			
			
			<article class="company float" >
				<a id="community" name="community" ></a>
				<header>
					<h3>We live in community.</h3>
				</header>
				<img src="{{ MEDIA_URL }}images/html/community.jpg" alt="" class="f-l" />
				<div class="float_right">
				<h4>Another way of thinking the business world. Social resposibility, collaboration ... Genuine! :)</h4></br>
				<p>We understand FLOSS isn't only a way to develop software, but also a big experience at the moment of generating and sharing knowledge, and offering to our clients new ways towards innovation.</p>
				<p>As part of the FLOSS community since many years ago, our development model is completely open. From the use of social tools for code management to our participation and sponsorship of big events in the Community. Transparency and colaboration are essential values for OpenShine.</p>
				<p>OpenShine has an unavoidable commitment to sharing, both its knowledge and its experiences for  the benefit of the FLOSS community.</p>
				</div>
			</article>
	</div><!--grid8-->		
{% endblock %}
			
			
			
