{% extends "2rows.html" %}
{% load i18n %}

{% block extrahead %}
{% endblock %}

{% block lemaLogo%}contact{% endblock %}

{% block bottomHead%}
     <h2 id="claim">Contact with us...</h2>
     
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid8 f-l">			
	  <article>
		<header> </header>
<iframe width="620" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.es/maps/ms?ie=UTF8&amp;hl=es&amp;msa=0&amp;msid=207638863145158514214.0004a368565e2087b0f82&amp;iwloc=0004a3685660ab6c6d4e9&amp;ll=40.429018,-3.703188&amp;spn=0,0&amp;output=embed"></iframe><br /><small>Ver <a href="http://maps.google.es/maps/ms?ie=UTF8&amp;hl=es&amp;msa=0&amp;msid=207638863145158514214.0004a368565e2087b0f82&amp;iwloc=0004a3685660ab6c6d4e9&amp;ll=40.429018,-3.703188&amp;spn=0,0&amp;source=embed" style="color:#0000FF;text-align:left">OpenShine</a> en un mapa más grande</small>
           </script>
	  </article>
	</div><!--grid8-->		
{% endblock %}
					
		
		
		
		
			
{% block aside %}
		<aside>
		  <h3 class="asideTitle">Contact info</h3>
		  <div class="posts">
			<div class="post">
			<h4>Address:</h4>
			<p>C/ Carranza nº 7, 2º 1</p>
			<p>28004 Madrid</p>
			<p>Spain</p>
			</div>
			<div class="post">
			<h4>Email:</h4>
			<p><a href="mailto:info@openshine.com">info@openshine.com</a></p>
			</div>
			<div class="post">
			<h4>Linkedin:</h4>
			<p><a href="http://www.linkedin.com/company/openshine-sl">OpenShine SL</a></p>
			</div>
			<div class="post">
			<h4>Twitter:</h4>
			<p><a href="http://twitter.com/openshine">OpenShine</a></p>
			</div>
		  </div>
		</aside>
		
{% endblock %}




