{% extends "1rows.html" %}
{% load i18n %}

{% block extrahead %}
{% endblock %}

{% block lemaLogo%}contact{% endblock %}

{% block bottomHead%}
     <h2 id="claim">GET IN TOUCH WITH US</h2>
     
{% endblock %}

{% block mainContent %}
        <div id="mainContent" class="grid16 f-l">
                <h2 class="pageTitle"><a href="{% url projects_page %}">CONTACT</a></h2>
                <article class="grid16">
                        <div class="project_info">
				<div class="contact_map">
            <iframe width="710" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps/ms?msa=0&amp;msid=206287929120583843478.0004cf0542d58394664b4&amp;ie=UTF8&amp;t=m&amp;ll=40.442211,-3.622098&amp;spn=0.016331,0.030427&amp;z=15&amp;iwloc=0004cf0542daa1d9367fe&amp;output=embed"></iframe><br /><small>Ver <a href="https://maps.google.es/maps/ms?msa=0&amp;msid=206287929120583843478.0004cf0542d58394664b4&amp;ie=UTF8&amp;t=m&amp;ll=40.442211,-3.622098&amp;spn=0.016331,0.030427&amp;z=15&amp;iwloc=0004cf0542daa1d9367fe&amp;source=embed" style="color:#0000FF;text-align:left">OpenShine</a> en un mapa m&aacute;s grande</small>
				</div>
                                <div class="contact_details">
					<h4>Address:</h4>
                    <p>C/ Juli&aacute;n Camarillo 47</p>
                    <p>Bloque A, Oficina 006</p>
					<p>28037 Madrid (Spain)</p>
					<h4>Email:</h4>
					<p><a href="mailto:info@openshine.com">info@openshine.com</a></p>
					<h4>Linkedin:</h4>
					<p><a href="http://www.linkedin.com/company/openshine-sl">OpenShine SL</a></p>
					<h4>Twitter:</h4>
					<p><a href="http://twitter.com/openshine">OpenShine</a></p>
                                </div>
                        </div>
                </article>
        </div>
{% endblock %}
