{% extends "2rows.html" %}
{% load i18n %}



{% block lemaLogo%}live!{% endblock %}

{% block bottomHead%}
     <h2 id="claim">OPENSHINE LIVE!</h2>
     
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid8 f-l">
			{% for post in posts %}
			
			<article>
				<header>
					<h3><a href="{{post.link}}">{{ post.title }}</a></h3>
					<p class="meta">By <a href="{{ post.blog_url}}" title="{{ post.blog_url}}"><strong>{{ post.author}}</strong></a> | {{ post.date }}</p>
				</header>
				
				<div  class="post">{{ post.content|safe }}</div>
				<footer>
					<!--  <p class="backTo f-l"><a href="#" title="Volver a noticias"><span></span> Volver a noticias</a></p>-->
					<p class="socialLinks f-r">
						<a href="#" class="twitter">Twitter</a>
						<a href="#" class="linkedin">Linkedin</a>
						<a href="#" class="identica">Identica</a>					
					</p>
				</footer>
			</article>
			{% endfor %}
			
			
			
			<!--   {  % include "demo_content.html" %  } -->
			<!--   {  % include "demo_comments.html" %  } -->
			
	</div><!--grid8-->		
{% endblock %}
					
		
		
		
		
			
{% block aside %}
		<aside>
			{% include "main/aside_twitter.html" %}
			
			
			    <!-- { % include "demo_aside.html" % }  -->
			<h3 class="bb2">BLOGS</h3>
			<ul>
				<li><a href="http://blogs.openshine.com/">Openshine Blog</a></li>
				<li><a href="http://blogs.openshine.com/rmajadas">Just thinking about software</a></li>
				<li><a href="http://blogs.openshine.com/cgtapia">César García Tapia</a></li>
				<li><a href="http://blogs.openshine.com/pvieytes">Pablog</a></li>
			</ul>
			
		</aside>
		
		
		
		
{% endblock %}




