{% extends "2rows.html" %}
{% load i18n %}



{% block lemaLogo%}live!{% endblock %}


{% block social_icons_header %}
<li><a href="http://blogs.openshine.com/planet/feed/" title="rss" class="rss">rss</a></li>
{% endblock %}



{% block bottomHead%}
     <h2 id="claim">OPENSHINE LIVE!<a href="http://blogs.openshine.com/planet/feed/"><div id="live_feed"></div></a></h2>
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid8 f-l">
			{% for post in posts|slice:slice_num_post %}
			
			<article>
				<header>
					<h3><a href="{{post.link}}">{{ post.title|safe }}</a></h3>
					<p class="meta">By <a href="{{ post.blog_url}}" title="{{ post.blog_url}}"><strong>{{ post.author}}</strong></a> | {{ post.date }}</p>
				</header>
				
				<div class="2rows">
					{{ post.content|safe }}
					<p><a href="{{post.link}}">read more</a></p>
				</div>
				
				{% with post.link as social_link %}
				{% with post.title as social_text %}
					{% include "social_footer.html" %}
				{% endwith %}
				{% endwith %}
			</article>
			{% endfor %}
			
			
	</div>
{% endblock %}
					
			
			
{% block aside %}
		<aside>
			{% include "main/aside_twitter.html" %}

			
			<h3 class="bb2">RECENT POSTS</h3>
			<ul>
				{% for post in posts|slice:slice_recent_post %}
					<li><a href="{{ post.link }}">{{ post.title }}</a></li>
				{% endfor %}
				<li>&nbsp;</li>
			</ul>
			<h3 class="bb2">BLOGS</h3>
			<ul>
				<li><a href="http://blogs.openshine.com/">Openshine Blog</a></li>
				<li><a href="http://blogs.openshine.com/rmajadas">Just thinking about software</a></li>
				<li><a href="http://blogs.openshine.com/cgtapia">César García Tapia</a></li>
				<li><a href="http://blogs.openshine.com/pvieytes">Pablog</a></li>
			</ul>
			
		</aside>
		
		
		
		
{% endblock %}




