{% extends "1rows.html" %}
{% load i18n %}



{% block lemaLogo%}{% endblock %}

{% block bottomHead%}
     <div class="backTo"></div>
     <h2 id="claim"></h2>
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid16 f-l">
		<h2 class="pageTitle">Error 500</h2>
		<article class="grid16">	
			Internal server error
            <br></br>			
            <br></br>			
            <br></br>			
            <br></br>			
            <br></br>			

		</article>

	</div>		
{% endblock %}

