			<h3 class="asideTitle">LAST NEWS</h3>
			<div class="posts">
				<div class="post">
					<h4>Lorem ipsum noticia</h4>
					<p><img src="{{ MEDIA_URL }}images/html/imagen1.jpg" alt="Descripción de la foto" /></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio. </p>
					<footer>
						<p class="f-l"><a href="#">Ver noticia</a></p>
						<p class="socialLinks f-r">
							<a href="#" class="twitter">Twitter</a>
							<a href="#" class="linkedin">Linkedin</a>
							<a href="#" class="identica">Identica</a>					
						</p>
					</footer>
				</div>
				<div class="post">
					<h4>Noticia sin foto</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio. </p>
					<footer>
						<p class="f-l"><a href="#">Ver noticia</a></p>
						<p class="socialLinks f-r">
							<a href="#" class="twitter">Twitter</a>
							<a href="#" class="linkedin">Linkedin</a>
							<a href="#" class="identica">Identica</a>					
						</p>
					</footer>
				</div>
				<div class="post last-child">
					<h4>Lorem ipsum noticia</h4>
					<p><img src="{{ MEDIA_URL }}images/html/imagen2.jpg" alt="Descripción de la foto" /></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio. </p>
					<footer>
						<p class="f-l"><a href="#">Ver noticia</a></p>
						<p class="socialLinks f-r">
							<a href="#" class="twitter">Twitter</a>
							<a href="#" class="linkedin">Linkedin</a>
							<a href="#" class="identica">Identica</a>					
						</p>
					</footer>
				</div>
			</div><!--posts-->
			
			<h3>CALENDARIO</h3>
			<div id="tabla_mes">
				<table summary="calendario del mes de diciembre de 2010">
					 <caption>Diciembre de 2010</caption>
					 <thead>
					  <tr>
					   <th scope="col"><abbr title="lunes">L</abbr></th>
					   <th scope="col"><abbr title="martes">M</abbr></th>
					   <th scope="col"><abbr title="miércoles">X</abbr></th>
					   <th scope="col"><abbr title="jueves">J</abbr></th>
					   <th scope="col"><abbr title="viernes">V</abbr></th>
					   <th scope="col" class="finde"><abbr title="sábado">S</abbr></th>
					   <th scope="col" class="finde"><abbr title="domingo">D</abbr></th>
					  </tr>
					 </thead>
					
					 <tbody>
					 	<tr>
						<td class="no_mes">27</td>
						<td class="no_mes">28</td>
						<td class="no_mes">29</td>
						<td class="no_mes">30</td>
						<td id="cell-01-10-2010" class="">1</td>
						<td id="cell-02-10-2010" class="finde">2</td>
						<td id="cell-03-10-2010" class="finde">3</td>
						</tr>
						<tr>
						<td id="cell-04-10-2010" class=""><a href="#">4</a></td>
						<td id="cell-05-10-2010" class="">5</td>
						<td id="cell-06-10-2010" class="">6</td>
						<td id="cell-07-10-2010" class="">7</td>
						<td id="cell-08-10-2010" class="">8</td>
						<td id="cell-09-10-2010" class="finde">9</td>
						<td id="cell-10-10-2010" class="finde">10</td>
						</tr>
						<tr>
						<td id="cell-11-10-2010" class="">11</td>
						<td id="cell-12-10-2010" class="">12</td>
						<td id="cell-13-10-2010" class="">13</td>
						<td id="cell-14-10-2010" class=""><a href="#">14</a></td>
						<td id="cell-15-10-2010" class="">15</td>
						<td id="cell-16-10-2010" class="finde">16</td>
						<td id="cell-17-10-2010" class="finde">17</td>
						</tr>
						<tr>
						<td id="cell-18-10-2010" class="">18</td>
						<td id="cell-19-10-2010" class="">19</td>
						<td id="cell-20-10-2010" class="">20</td>
						<td id="cell-21-10-2010" class=""><a href="#">21</a></td>
						<td id="cell-22-10-2010" class="">22</td>
						<td id="cell-23-10-2010" class="finde">23</td>
						<td id="cell-24-10-2010" class="finde"><a href="#">24</a></td>
						</tr>
						<tr>
						<td id="cell-25-10-2010" class="hoy">25</td>
						<td id="cell-26-10-2010" class="">26</td>
						<td id="cell-27-10-2010" class=""><a href="#">27</a></td>
						<td id="cell-28-10-2010" class="">28</td>
						<td id="cell-29-10-2010" class="">29</td>
						<td id="cell-30-10-2010" class="finde">30</td>
						<td id="cell-31-10-2010" class="finde">31</td>
						</tr>
					</tbody>
				 </table>
				 <div class="paginacion">
					<a class="anterior" href="#" id="mes-anterior">&#171; Anterior</a>
					<a class="siguiente" href="#" id="mes-siguiente">Siguiente &#187;</a>
				</div>
			</div><!--tabla-mes-->
			
			<h3 class="bb2">TOP LINKS</h3>
			<ul class="pseudOl">
				<li><span>1</span> <a href="#" title="">Nannycentral</a></li>
				<li><span>2</span> <a href="#" title="">Openshine</a></li>
				<li><span>3</span> <a href="#" title="">De Sink</a></li>
				<li><span>4</span> <a href="#" title="">Super lorem ipsum</a></li>
				<li><span>5</span> <a href="#" title="">Portemani Celaic</a></li>
				<li><span>6</span> <a href="#" title="">Twitter Folow</a></li>
				<li><span>7</span> <a href="#" title="">Facebook Mail</a></li>
				<li><span>8</span> <a href="#" title="">Basic Application</a></li>
			</ul>