{% extends "2rows.html" %}
{% load i18n %}



{% block lemaLogo%}home{% endblock %}

{% block bottomHead%}
     <h2 id="claim">WE OPEN THE SOURCE</h2>
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid8 f-l big_image">
			<h2 class="pageTitle">UPDATING</h2>
			
			<article>
				<header>
					<h3>Lorem Apple ipsum opensource iOS</h3>
					<p class="meta">Por <a href="#" title="ver perfil de César García"><strong>Cesar García</strong></a> | 12 de abril de 2011, 13:54</p>
				</header>
				<p class="t-c" ><img src="{{ MEDIA_URL }}images/html/teclado_apple.jpg" alt="foto cargador para teclado inalámbrico de Apple"/></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<p>Proin aliquam blandit faucibus. <strong>Duis mattis velit at tellus convallis venenatis</strong>. Nullam nunc ante, feugiat vitae suscipit vel, rutrum nec tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi egestas facilisis nisl eu ornare. Curabitur dui est, <a href="#"><strong>commpellentesque</strong></a> aminae hendrerit non justo. Sed pellentesque felis eget mi volutpat posuere. <strong>Donec non odio erat</strong>. Fusce at velit ac arcu accumsan viverra eget quis libero.</p>
				<p>Vestibulum dignissim volutpat justo, eget blandit odio fermentum feugiat. Nulla mattis dignissim augue, ac volutpat risus pretium id. Donec iaculis fermentum dolor sit amet rutrum.</p>
				<img src="{{ MEDIA_URL }}images/html/raton_apple.jpg" alt="foto ratón de Apple" class="f-l" />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<p>Proin aliquam blandit faucibus. <strong>Duis mattis velit at tellus convallis venenatis</strong>. Nullam nunc ante, feugiat vitae suscipit vel, rutrum nec tellus. Class aptent taciti sociosqu ad litora</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<h4>Un ladillo que pueder ir en el desarrollo del artículo</h4>
				<ul>
					<li>Se ha olvidado de poner listas, aquí van</li>
					<li>aquí va otra</li>
					<li>y aquí va la tercera</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<footer>
					<p class="socialLinks f-r">
						<a href="#" class="twitter">Twitter</a>
						<a href="#" class="linkedin">Linkedin</a>
						<a href="#" class="identica">Identica</a>					
					</p>
				</footer>
			</article>
			
			<h2 class="pageTitle">CLIENTS</h2>

			<article class="float_logo">
					
					<a href="#" title="Junta de Andalucia"><img src="{{ MEDIA_URL }}images/html/logo-junta-andalucia.png" /></a>
			</article>
			
			<article class="float_logo">
					
					<a href="#" title="Movistar"><img src="{{ MEDIA_URL }}images/html/logo-movistar.png" /></a>
			</article>
			
			<article class="float_logo">
					
					<a href="#" title="Telefonica I+D"><img src="{{ MEDIA_URL }}images/html/log-tid.png" /></a>
			</article>
			
			<article class="float_logo">
					
					<a href="#" title="Telefonica Soluciones"><img src="{{ MEDIA_URL }}images/html/logo-telefonica-soluciones.png" /></a>
			</article>
	</div><!--grid8-->		
{% endblock %}
					
		
		
		
		
			
{% block aside %}
		<aside>
			
			{% include "projects/aside_projects.html" %}
			    
			 <div id="hiring">
			 	<a href="contact"><h3>We are hiring!</h3></a>
			 </div>
			   
			
		</aside>
{% endblock %}