{% extends "2rows.html" %}
{% load i18n %}

{% block extrahead %}

<script type="text/javascript" src="{{ MEDIA_URL }}js/easySlider1.7.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#slider").easySlider({
		auto: true,
		continuous: true,
		numeric: true,
                pause: 10000
	});
});
</script>
</head>
</script>

{% endblock %}

{% block bottomHead%}

<div id="slider">
	<ul>
	<li><a href="{% url company_page %}#experience" ><img src="{{ MEDIA_URL}}images/slider/experience.png" class="slider_content0"/></a></li> 
	<li><a href="{% url company_page %}#sharing" ><img src="{{ MEDIA_URL}}images/slider/sharing.png" class="slider_content1"/> </a> </li>
	<li><a href="{% url company_page %}#floss" ><img src="{{ MEDIA_URL}}images/slider/floss.png" class="slider_content2"/> </a> </li>
	<li><a href="{% url company_page %}#community" ><img src="{{ MEDIA_URL}}images/slider/community.png" class="slider_content3"/> </a> </li>
	</ul>
</div>

{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid8 f-l big_image">
			<h2 class="pageTitle">WELCOME TO OPENSHINE</h2>
			
			{% for news_element in news %}
			
			<article>
				<header>
					<h3><a href="{{news_element.link}}">{{ news_element.title|safe }}</a></h3>
				</header>
				
				<div  class="big_image">{{ news_element.content|safe }}</div>
				
				
				
				
				{% with news_element.link as social_link %}
				{% with news_element.title as social_text %}
					{% include "social_footer.html" %}
				{% endwith %}
				{% endwith %}
			</article>
			{% endfor %}
				
	</div><!--grid8-->		
{% endblock %}
					
		
		
		
		
			
{% block aside %}
		<aside>
			
			{% include "projects/aside_projects.html" %}
			    

			
		</aside>
{% endblock %}
