{% extends "2rows.html" %}
{% load i18n %}



{% block lemaLogo%}Home{% endblock %}

{% block bottomHead%}
     <h2 id="claim">WE OPEN THE SOURCE</h2>
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid8 f-l big_image">
			<h2 class="pageTitle">NEWS</h2>
			{% for news_element in news %}
			
			<article>
				<header>
					<h3><a href="{{news_element.link}}">{{ news_element.title }}</a></h3>
					<p class="meta">By <a href="#" title="openshine sl"><strong>Openshine</strong></a> | {{ news_element.date }}</p>
				</header>
				
				<div  class="big_image">{{ news_element.content|safe }}</div>
				<footer>
					<!--  <p class="backTo f-l"><a href="#" title="Volver a noticias"><span></span> Volver a noticias</a></p>-->
					<p class="socialLinks f-r">
						<a href="#" class="twitter">Twitter</a>
						<a href="#" class="linkedin">Linkedin</a>
						<a href="#" class="identica">Identica</a>					
					</p>
				</footer>
			</article>
			{% endfor %}
			
			
			
			<!--   {  % include "demo_content.html" %  } -->
			<!--   {  % include "demo_comments.html" %  } -->
			
	</div><!--grid8-->		
{% endblock %}
					
		
		
		
		
			
{% block aside %}
		<aside>
			
			{% include "projects/aside_projects.html" %}
			    <!-- { % include "demo_aside.html" % }  -->
		</aside>
{% endblock %}