
<footer>
<!-- {{social_link}} -->
<!-- {{social_text}} -->
	<p class="socialLinks f-r">
		<a target = _blank title="Share on twitter" href="http://twitter.com/intent/tweet?text={{social_text}}%20{{ social_link }}&via=openshine" class="twitter">Twitter</a>
		<a target = _blank title="Share on linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ social_link }}&title={{ social_text }}" class="linkedin" class="linkedin">Linkedin</a>
		<a target = _blank title="Share on indentica" href="http://identi.ca/index.php?action=newnotice&status_textarea=:{{social_text}}%20{{ social_link }}" class="identica">Identica</a>				
	</p>
</footer>

