<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>openshine</title>
	<script src="{{ MEDIA_URL }}js/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
	
	{% block extrahead %}{% endblock %}
</head>

<body>
<div id="wrapper">
	<div id="header">
		<a href="{% url home_page %}">www.openshine.com</a>	
		<a href="http://www.linkedin.com/company/openshine-sl">linkedin</a>
		<a href="http://www.twitter.com/openshine">twitter</a>
		<a href="https://github.com/openshine">github</a>
	</div>
	<div id="content_title">
		<p>tabs: <a href="{% url home_page %}">home</a>
		<a href="{% url home_page %}">projects</a>
		<a href="{% url live_page %}">Live!</a>
		<a href="">Jobs</a>
		<a href="">contact</a><p>
		{% block titlecontent %}{% endblock %}
	</div>
	<div id="content">
		{% block bodycontent %}{% endblock %}
	</div>
</div>
</body>
</html>