{% extends "base.html" %}
{% load i18n %}


{% block title %}
	home
{% endblock %}

{% block titlecontent %}

Slides  --  HOME

{% endblock %}

{% block bodycontent %}
		
	<div id=news_wrapper>
		<h1>NEWS:</h1>
		{% for date_struct, date_str, title, link, content in news %}
			<div id="news_element">
					<h1>{{ title }}</h1>
					<a href="{{ link }}">link</a>
					<p>{{ date_str }}</p>
					{{ content|safe }}
			</div>
		{% endfor %}	
	</div>	
	
	
	
	<div id=projects_wrapper>
		<h1>PROJECTS:</h1>
		{% for name, shortname, shortdesc, description, homepage, downloadpage, languages, url_screenshot in projects %}
			<div id="project">
					<h1>{{ name }}</h1>
					<p>{{ shortdesc }}</p>
					<p><img src="{{ url_screenshot }}"></p>
					<p><a href="{{ homepage }}">homepage</a></p>
					<p><a href="{{ downloadpage }}">downloadpage</a></p>
					<p>languages:</p>
					<ul>
						{% for language in languages %}
							<li>{{ language }}</li>
						{% endfor%}
					</ul> 
			</div>		
		
		{% endfor %}	
	</div>	
	
		
		
{% endblock %}