<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>OpenShine</title>
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="css/ie_style.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8_style.css" /><![endif]-->
<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="js/general.js"></script>
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Lato:light' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:bold' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:light' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:regular' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:light' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css' />
<!--[if IE 6]>
	<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript">DD_belatedPNG.fix('header#head h1 a, #socialIcons li a, header#head nav ul, header#head .backTo a span, footer .socialLinks a, article footer .backTo a span, footer .socialLinks a, #comments header .publish span, footer#foot .localization li span, .pseudOl li span, #tabla_mes .paginacion a');</script>
<![endif]-->
</head>
<body>
<div id="wrapper">
	<header id="head">
		<div class="topHead">
			<h1><a href="#" title="Back to Home">Open Shine</a></h1>
			<p id="lemaLogo">WebApplication</p>
			<div id="socialIcons">
				<ul class="clearfix d-b">
					<li><a href="#" title="Contact us" class="contact">Contact us</a></li>
					<li><a href="#" title="Join our Twitter" class="twitter">Twitter</a></li>
					<li><a href="#" title="Join our Identica" class="identica">Identica</a></li>
					<li><a href="#" title="Join our Linkedin" class="linkedin">Linkedin</a></li>
					<li><a href="#" title="Go to your profile" class="user">Profile</a></li>
					<li><a href="#" title="Search" class="search">search</a></li>					
				</ul>
			</div>
		</div><!--topHead-->
		<div class="bottomHead">
			<nav>
				<ul>
					<li><a href="#" title="">Home</a></li>
					<li class="active"><a href="#" title="">Projects</a></li>
					<li><a href="#" title="">Jobs</a></li>
					<li><a href="#" title="">Contact</a></li>
					<li><a href="#" title="">Castellano</a></li>
				</ul>
			</nav>
			<p class="backTo"><a href="#" title="Back to Home"><span></span>Back to news</a></p>
			<h2 id="claim">WE OPEN THE SOURCE</h2>
		</div><!--bottomHead-->
	</header>
	
	<div id="content" class="clearfix interior">
		<div id="mainContent" class="grid8 f-l">
			<h2 class="pageTitle">NEWS</h2>
			<article>
				<header>
					<h3>Lorem Apple ipsum opensource iOS</h3>
					<p class="meta">Por <a href="#" title="ver perfil de César García"><strong>Cesar García</strong></a> | 12 de abril de 2011, 13:54</p>
				</header>
				<p class="t-c" ><img src="images/html/teclado_apple.jpg" alt="foto cargador para teclado inalámbrico de Apple"/></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<p>Proin aliquam blandit faucibus. <strong>Duis mattis velit at tellus convallis venenatis</strong>. Nullam nunc ante, feugiat vitae suscipit vel, rutrum nec tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi egestas facilisis nisl eu ornare. Curabitur dui est, <a href="#"><strong>commpellentesque</strong></a> aminae hendrerit non justo. Sed pellentesque felis eget mi volutpat posuere. <strong>Donec non odio erat</strong>. Fusce at velit ac arcu accumsan viverra eget quis libero.</p>
				<p>Vestibulum dignissim volutpat justo, eget blandit odio fermentum feugiat. Nulla mattis dignissim augue, ac volutpat risus pretium id. Donec iaculis fermentum dolor sit amet rutrum.</p>
				<img src="images/html/raton_apple.jpg" alt="foto ratón de Apple" class="f-l" />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<p>Proin aliquam blandit faucibus. <strong>Duis mattis velit at tellus convallis venenatis</strong>. Nullam nunc ante, feugiat vitae suscipit vel, rutrum nec tellus. Class aptent taciti sociosqu ad litora</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<h4>Un ladillo que pueder ir en el desarrollo del artículo</h4>
				<ul>
					<li>Se ha olvidado de poner listas, aquí van</li>
					<li>aquí va otra</li>
					<li>y aquí va la tercera</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio.</p>
				<footer>
					<p class="backTo f-l"><a href="#" title="Volver a noticias"><span></span> Volver a noticias</a></p>
					<p class="socialLinks f-r">
						<a href="#" class="twitter">Twitter</a>
						<a href="#" class="linkedin">Linkedin</a>
						<a href="#" class="identica">Identica</a>					
					</p>
				</footer>
			</article>
			<div id="comments">
				<header>
					<h3>2 COMENTARIOS</h3>
					<p class="publish"><a href="#"><span></span> Publicar mi comentario</a></p>
				</header>
				<div class="comment clearfix">
					<div class="grid3 f-l">
						<img src="images/html/avatar_1.gif" alt="Avatar de Roberto majadas" class="avatar" />
						<ul>
							<li><a href="#">Roberto Majadas</a></li>
							<li>11/04/2011</li>
						</ul>
					</div>
					<div class="grid5 f-r">
						<p>Tampoco me gusta tener 1.000 aplicaciones en el dock. Realmente lo tengo vacío así, de un vistazo, puedo saber las aplicaciones que están corriendo, además de que muchas nos dan información adicional (como el porcentaje de descarga en Chrome o el número de tweets en echofon).</p>
						<p>Y por añadir algo más, también tengo asignadas algunas teclas como F11 o F12 a algunas aplicaciones que suelo consultar mucho (como los clientes de twitter o de mail).</p>
						<p><a href="#">Responder</a></p>
					</div>
				</div>
				<div class="comment clearfix">
					<div class="grid3 f-l">
						<img src="images/html/avatar.gif" alt="Avatar por defecto" class="avatar" />
						<ul>
							<li><a href="#">César García</a></li>
							<li>11/04/2011</li>
						</ul>
					</div>
					<div class="grid5 f-r">
						<p>Y por añadir algo más, también tengo asignadas algunas teclas como F11 o F12 a algunas aplicaciones que suelo consultar mucho (como los clientes de twitter o de mail).</p>
						<p><a href="#">Responder</a></p>
					</div>
				</div>
			</div><!--comments-->
			<div id="commentForm">
				<header>
					<h3>PUBLICAR MI COMENTARIO</h3>
				</header>
				<form action="" method="post">
					<div class="grid3 f-l">
						<p><input type="text" class="texto" value="Tu nombre" /></p>
						<p><input type="text" class="texto" value="Tu email" /></p>
						<p><input type="text" class="texto" value="Tu website" /></p>
					</div>
					<div class="grid5 f-r">
						<p><textarea class="texto" cols="" rows="">Tu comentario</textarea></p>
						<p><input type="checkbox" /> Notificarme cuando se publiquen nuevos comentarios</p>
						<p class="formAction"><input type="submit" class="bt" value="Publicar comentario" /></p>
					</div>
				</form>
			</div><!--commentForm-->
		</div><!--grid8-->
		<aside>
			<h3 class="asideTitle">LAST NEWS</h3>
			<div class="posts">
				<div class="post">
					<h4>Lorem ipsum noticia</h4>
					<p><img src="images/html/imagen1.jpg" alt="Descripción de la foto" /></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio. </p>
					<footer>
						<p class="f-l"><a href="#">Ver noticia</a></p>
						<p class="socialLinks f-r">
							<a href="#" class="twitter">Twitter</a>
							<a href="#" class="linkedin">Linkedin</a>
							<a href="#" class="identica">Identica</a>					
						</p>
					</footer>
				</div>
				<div class="post">
					<h4>Noticia sin foto</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio. </p>
					<footer>
						<p class="f-l"><a href="#">Ver noticia</a></p>
						<p class="socialLinks f-r">
							<a href="#" class="twitter">Twitter</a>
							<a href="#" class="linkedin">Linkedin</a>
							<a href="#" class="identica">Identica</a>					
						</p>
					</footer>
				</div>
				<div class="post last-child">
					<h4>Lorem ipsum noticia</h4>
					<p><img src="images/html/imagen2.jpg" alt="Descripción de la foto" /></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus erat in elit volutpat elementum. Maecenas erat erat, tincidunt quis iaculis non, sodales sed odio. </p>
					<footer>
						<p class="f-l"><a href="#">Ver noticia</a></p>
						<p class="socialLinks f-r">
							<a href="#" class="twitter">Twitter</a>
							<a href="#" class="linkedin">Linkedin</a>
							<a href="#" class="identica">Identica</a>					
						</p>
					</footer>
				</div>
			</div><!--posts-->
			
			<h3>CALENDARIO</h3>
			<div id="tabla_mes">
				<table summary="calendario del mes de diciembre de 2010">
					 <caption>Diciembre de 2010</caption>
					 <thead>
					  <tr>
					   <th scope="col"><abbr title="lunes">L</abbr></th>
					   <th scope="col"><abbr title="martes">M</abbr></th>
					   <th scope="col"><abbr title="miércoles">X</abbr></th>
					   <th scope="col"><abbr title="jueves">J</abbr></th>
					   <th scope="col"><abbr title="viernes">V</abbr></th>
					   <th scope="col" class="finde"><abbr title="sábado">S</abbr></th>
					   <th scope="col" class="finde"><abbr title="domingo">D</abbr></th>
					  </tr>
					 </thead>
					
					 <tbody>
					 	<tr>
						<td class="no_mes">27</td>
						<td class="no_mes">28</td>
						<td class="no_mes">29</td>
						<td class="no_mes">30</td>
						<td id="cell-01-10-2010" class="">1</td>
						<td id="cell-02-10-2010" class="finde">2</td>
						<td id="cell-03-10-2010" class="finde">3</td>
						</tr>
						<tr>
						<td id="cell-04-10-2010" class=""><a href="#">4</a></td>
						<td id="cell-05-10-2010" class="">5</td>
						<td id="cell-06-10-2010" class="">6</td>
						<td id="cell-07-10-2010" class="">7</td>
						<td id="cell-08-10-2010" class="">8</td>
						<td id="cell-09-10-2010" class="finde">9</td>
						<td id="cell-10-10-2010" class="finde">10</td>
						</tr>
						<tr>
						<td id="cell-11-10-2010" class="">11</td>
						<td id="cell-12-10-2010" class="">12</td>
						<td id="cell-13-10-2010" class="">13</td>
						<td id="cell-14-10-2010" class=""><a href="#">14</a></td>
						<td id="cell-15-10-2010" class="">15</td>
						<td id="cell-16-10-2010" class="finde">16</td>
						<td id="cell-17-10-2010" class="finde">17</td>
						</tr>
						<tr>
						<td id="cell-18-10-2010" class="">18</td>
						<td id="cell-19-10-2010" class="">19</td>
						<td id="cell-20-10-2010" class="">20</td>
						<td id="cell-21-10-2010" class=""><a href="#">21</a></td>
						<td id="cell-22-10-2010" class="">22</td>
						<td id="cell-23-10-2010" class="finde">23</td>
						<td id="cell-24-10-2010" class="finde"><a href="#">24</a></td>
						</tr>
						<tr>
						<td id="cell-25-10-2010" class="hoy">25</td>
						<td id="cell-26-10-2010" class="">26</td>
						<td id="cell-27-10-2010" class=""><a href="#">27</a></td>
						<td id="cell-28-10-2010" class="">28</td>
						<td id="cell-29-10-2010" class="">29</td>
						<td id="cell-30-10-2010" class="finde">30</td>
						<td id="cell-31-10-2010" class="finde">31</td>
						</tr>
					</tbody>
				 </table>
				 <div class="paginacion">
					<a class="anterior" href="#" id="mes-anterior">&#171; Anterior</a>
					<a class="siguiente" href="#" id="mes-siguiente">Siguiente &#187;</a>
				</div>
			</div><!--tabla-mes-->
			
			<h3 class="bb2">TOP LINKS</h3>
			<ul class="pseudOl">
				<li><span>1</span> <a href="#" title="">Nannycentral</a></li>
				<li><span>2</span> <a href="#" title="">Openshine</a></li>
				<li><span>3</span> <a href="#" title="">De Sink</a></li>
				<li><span>4</span> <a href="#" title="">Super lorem ipsum</a></li>
				<li><span>5</span> <a href="#" title="">Portemani Celaic</a></li>
				<li><span>6</span> <a href="#" title="">Twitter Folow</a></li>
				<li><span>7</span> <a href="#" title="">Facebook Mail</a></li>
				<li><span>8</span> <a href="#" title="">Basic Application</a></li>
			</ul>
		</aside>
	</div><!--content-->
	
	<footer id="foot">
		<div class="f-l">
			<ul class="localization">
				<li class="phone"><span></span> 912 345 345  -  934 765 654</li>
				<li class="address"><span></span> Calle Montés 123. 2ºC. Madrid (España)</li>
				<li class="mail"><span></span> info@openshine.com</li>
			</ul>
		</div>
		<div class="f-r">
			<nav>
				<ul>
					<li><a href="#" title="">Home</a></li>
					<li class="active"><a href="#" title="">Projects</a></li>
					<li><a href="#" title="">Jobs</a></li>
					<li><a href="#" title="">Contact</a></li>
					<li><a href="#" title="">Castellano</a></li>
				</ul>
			</nav>
		</div>
		<p class="copyright">Openshine Ltd © 2011. All rights reserved. Terms and conditions</p>
	</footer>
</div><!--wrapper-->
</body>
</html>