{% extends "2rows.html" %}
{% load i18n %}



{% block lemaLogo%}Home{% endblock %}

{% block bottomHead%}
     <h2 id="claim">WE OPEN THE SOURCE</h2>
{% endblock %}

{% block mainContent %}
			<h2 class="pageTitle">NEWS</h2>
			{% for news_element in news %}
			
			<article>
				<header>
					<h3><a href="{{news_element.link}}">{{ news_element.title }}</a></h3>
					<p class="meta">By <a href="#" title="openshine sl"><strong>Openshine</strong></a> | {{ news_element.date }}</p>
				</header>
				
				<div  class="big_image">{{ news_element.content|safe }}</div>
				<footer>
					<!--  <p class="backTo f-l"><a href="#" title="Volver a noticias"><span></span> Volver a noticias</a></p>-->
					<p class="socialLinks f-r">
						<a href="#" class="twitter">Twitter</a>
						<a href="#" class="linkedin">Linkedin</a>
						<a href="#" class="identica">Identica</a>					
					</p>
				</footer>
			</article>
			{% endfor %}
			
			
			
			<!--   {  % include "demo_content.html" %  } -->
			<!--   {  % include "demo_comments.html" %  } -->
			
			
{% endblock %}
			
			
			
			
			
			
			
{% block aside %}
			<h3 class="asideTitle">PROJECTS</h3>
			
			<div class="posts">
				{% for project in projects %}
				<div class="post">
					<h4>{{ project.name }}</h4>
					<p><img class="small_image" src="{{ project.url_screenshot }}" alt="Descripción de la foto" /></p>
					<p>{{ project.shortdesc }}</p>
					
					<footer>
						<p class="f-l"><a href="#">Ver noticia</a></p>
						<p class="socialLinks f-r">
							<a href="#" class="twitter">Twitter</a>
							<a href="#" class="linkedin">Linkedin</a>
							<a href="#" class="identica">Identica</a>					
						</p>
					</footer>
				</div>
				{% endfor %}
				
			</div>
			
			<h3 class="bb2">TOP LINKS</h3>
			<ul class="pseudOl">
				<li><span>1</span> <a href="#" title="">Nannycentral</a></li>
				<li><span>2</span> <a href="#" title="">Openshine</a></li>
				<li><span>3</span> <a href="#" title="">De Sink</a></li>
				<li><span>4</span> <a href="#" title="">Super lorem ipsum</a></li>
				<li><span>5</span> <a href="#" title="">Portemani Celaic</a></li>
				<li><span>6</span> <a href="#" title="">Twitter Folow</a></li>
				<li><span>7</span> <a href="#" title="">Facebook Mail</a></li>
				<li><span>8</span> <a href="#" title="">Basic Application</a></li>
			</ul>
				
			<h3 class="bb2">WE ARE HIRING!</h3>
			<ul class="pseudOl">
				<p> Please email us</p>
			</ul>
				
			    <!-- { % include "demo_aside.html" % }  -->
{% endblock %}