			<h3 class="asideTitle">PROJECTS</h3>
			<div class="posts">
				{% for project in projects %}
				<div class="post small_image" >
					<h4><a href="{% url project_detail_page project.slug_name %}">{{ project.name }}</a></h4>
					{% if project.screenshot %}
						<p><a href="{% url project_detail_page project.slug_name %}"><img src="{{ MEDIA_URL }}images/projects/{{ project.screenshot }}" alt="" /></a></p>
					{% endif %}
					<p>{{ project.shortdesc|safe }}</p>
					
					<footer>
						<p class="f-l"><a href="{% url project_detail_page project.slug_name %}">link</a></p>
					</footer>
				</div>
				{% endfor %}
				
			</div>