{% extends "1rows.html" %}
{% load i18n %}



{% block lemaLogo%}projects{% endblock %}

{% block bottomHead%}
     <h2 id="claim">PROJECTS</h2>
     
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid16 f-l big_image">
				<article class="grid16">
				
					<header>
						<h3><a href="{% url project_detail_page project.slug_name %}">{{ project.name }}</a></h3>
					</header>
					{% if project.screenshot %}
						<p><a href="{{ MEDIA_URL }}images/projects/{{ project.screenshot }}"><img class="prj" src="{{ MEDIA_URL }}images/projects/{{ project.screenshot }}" alt="project screenshot"/></a></p>
					{% endif %}
					<p>{{ project.description|safe }}</p>
					<p><a href="{{ project.homepage }}">homepage</a></p>
					<p><a href="{{ project.downloadpage }}">downloadpage</a></p>					
					
					{% with project.homepage as social_link %}
						{% include "social_footer.html" %}
					{% endwith %}
				</article>

			
			
			
			<!--   {  % include "demo_content.html" %  } -->
			<!--   {  % include "demo_comments.html" %  } -->
			
	</div><!--grid8-->		
{% endblock %}

