{% extends "1rows.html" %}
{% load i18n %}


{% block extrahead %}


<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
 -->
<script>
	!window.jQuery && document.write('<script src="jquery-1.4.3.min.js"><\/script>');
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<script type="text/javascript">
		$(document).ready(function() {
			/*
			*   Examples - images
			*/

			$("a#fancybox").fancybox();

			
		});
	</script>



{% endblock %}


{% block lemaLogo%}projects{% endblock %}

{% block bottomHead%}
     <h2 id="claim">PROJECTS</h2>
     
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid16 f-l">
				<article class="grid16">	
					<div class="project_info">
					{% if project.screenshot %}					
						<a id="fancybox" href="{{ MEDIA_URL }}images/projects/{{ project.screenshot }}"><img class="prj" src="{{ MEDIA_URL }}images/projects/{{ project.screenshot }}" alt="project screenshot"/></a>
					{% endif %}
					<div class="project_details">
					<header>
						<h3><a href="{% url project_detail_page project.slug_name %}">{{ project.name }}</a></h3>
					</header>
					<p>{{ project.description|safe }}</p>
					<h4>Links:</h4>
					<ul class="project_links">
						<li><a href="{{ project.homepage }}">Project Home</a></li>
						<li><a href="{{ project.downloadpage }}">Download Page</a></li>
					</ul>
					</div>
					</div>
					<div class="clear"></div>
					{% with link as social_link %}
					{% with project.name as social_text %}
						{% include "social_footer.html" %}
					{% endwith %}
					{% endwith %}
					
				</article>

	</div>		
{% endblock %}

