{% extends "1rows.html" %}
{% load i18n %}



{% block lemaLogo%}projects{% endblock %}

{% block bottomHead%}
     <h2 id="claim">PROJECTS</h2>
     
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid16 f-l big_image">
			{% for project in projects %}
				<article class="grid4 float">
				
					<header>
						<h3><a href="{% url project_detail_page project.slug_name %}">{{ project.name }}</a></h3>
					</header>
					{% if  project.screenshot %}
						<p><a href="{% url project_detail_page project.slug_name %}"><img src="{{ MEDIA_URL }}images/projects/{{ project.screenshot }}" alt="project screenshot"/></a></p>
					{% endif %}
					<p>{{ project.shortdesc|safe }}</p>
					<footer>
						<p class="f-l"><a href="{% url project_detail_page project.slug_name %}">link</a></p>
					</footer>
				</article>
			{% endfor %}
			
			
			
			<!--   {  % include "demo_content.html" %  } -->
			<!--   {  % include "demo_comments.html" %  } -->
			
	</div><!--grid8-->		
{% endblock %}
					
		
		
		
		



