{% extends "1rows.html" %}
{% load i18n %}


{% block extrahead %}


<script>
	!window.jQuery && document.write('<script src="jquery-1.4.3.min.js"><\/script>');
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<script type="text/javascript">
		$(document).ready(function() {
			/*
			*   Examples - images
			*/

			$("a#fancybox").fancybox();

			
		});
	</script>



{% endblock %}


{% block lemaLogo%}projects{% endblock %}

{% block bottomHead%}
     <div class="backTo"><a href="{% url "projects_page" %}"><span></span>Back to Projects</a></div>
     <h2 id="claim"></h2>
{% endblock %}

{% block mainContent %}
	<div id="mainContent" class="grid16 f-l">
		<h2 class="pageTitle"><a href="{% url "projects_page" %}">PROJECTS</a></h2>
		<article class="grid16">	
			<header>
				<h3>{{ project.name }}</h3>
			</header>
			<div class="project_info">
			{% if project.screenshot %}					
				<a id="fancybox" href="{{ MEDIA_URL }}images/projects/{{ project.screenshot }}"><img class="prj" src="{{ MEDIA_URL }}images/projects/{{ project.screenshot }}" alt="project screenshot"/></a>
			{% endif %}
				<div class="project_details">
				<p>{{ project.description|safe }}</p>
				<h4>External links:</h4>
				<ul class="project_links">
					<li><a href="{{ project.homepage }}">Project Home</a></li>
					<li><a href="{{ project.downloadpage }}">Download Page</a></li>
				</ul>
				</div>
			</div>
			<div class="clear"></div>
			{% with link as social_link %}
			{% with project.name as social_text %}
				{% include "social_footer.html" %}
			{% endwith %}
			{% endwith %}
		</article>

	</div>		
{% endblock %}

